<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @attendee.user.first_name %> , merci à toi d'avoir créé cet évènement !</h1>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur eventbriteproject.herokuapp.com ! </p>
  </body>
</html> -->